@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans+Thai:wght@100;200;300;400;500;600;700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html {
    scroll-behavior: smooth;
  }
  body {
    background-color: #F1EDE5;
    color: #2B2520;
    font-family: "IBM Plex Sans Thai", sans-serif;
    -webkit-font-smoothing: antialiased;
  }
}
